<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiken.bibpaper.mapper.login.ResetPasswordMapper">

    <update id="updateUserPassword" parameterType="com.aiken.bibpaper.domain.login.ResetPassword">
        update user set password=#{newPassword} where mail_address = #{email}
    </update>

</mapper>