.header {
  display: flex;
  justify-content: space-between;
  border-bottom: inset 5px black;
  /* position: absolute; */
}

.header > .icon {
    background-color: blue;
    padding: 10px;
    margin: 15px;
}

.header > .face {
    padding: 10px;
    border-radius: 10px;
    margin: 15px;

}

.navbar-brand {
    text-decoration: underline;
}

.navbar-header-position {
    
}