.header {
  display: flex;
  justify-content: space-between;
  border-bottom: inset 5px #9e9e9e;
  /* position: absolute; */
}

.header > .icon {
    color: white;
    background-color: skyblue;
    padding: 10px;
    margin: 15px;
}

.face{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 15px 15px;
    /* height: 40px; */
}

.navbar-brand {
    text-decoration: underline;
}

.navber {
    /* 親要素として位置を固定 */
    position: relative;
}

.navbar-header {
    position: absolute;
    top: 7px;
    left: 70px;
}

.container {
    margin-top: 30px;
}

.pull_down {
        padding: 4px 0;
}