.header {
  display: flex;
  justify-content: space-between;
  border-bottom: inset 5px #9e9e9e;
  /* position: absolute; */
}

.header > .icon {
    color: white;
    background-color: skyblue;
    padding: 10px;
    margin: 15px;
}

.header > .face{
    background-color: white;
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-brand {
    text-decoration: underline;
}

.navber {
    /* 親要素として位置を固定 */
    position: relative;
}
.navbar-header {
    position: absolute;
    top: 7px;
    left: 70px;
}

.card {
    position: absolute;
    top: 150px;
    left: 70px;
    width: 85%;
}

.card-header {
    display: inline-flex;
}


.btn-bibtex-header {
    position: absolute;
    right: 2.5%;
}

.selectpicker {
    padding: 5px;
    cursor: pointer;
}

.selectpicker:hover {
    cursor: pointer;
}

.require_mark {
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background-color: red;
    padding: 1px;
    margin-left: 10px;
}

.btn-bibtex {
    font-size: 14px;
    padding: 0.3rem .3rem;
    /* margin-left: 264px; */
    margin-top: 17px;
}

.new_btn {
    text-align: center;
    
}
.offset-md-2 {
    margin-left: 9.666667%;
}


.cp_tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: linear-gradient(transparent 60%, #f19ec2 60%);
}
.cp_tooltip .cp_tooltiptext {
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 0;
	visibility: hidden;
	width: auto;
	white-space: nowrap;
	padding: 0.3em 0.5em;
	transition: opacity 1s;
	text-align: center;
	opacity: 0;
	color: #ffffff;
	border-radius: 6px;
	background-color: #da3c41;
}
.cp_tooltip .cp_tooltiptext::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	content: ' ';
	border: 5px solid transparent;
	border-top-color: #da3c41;
}
.cp_tooltip:hover .cp_tooltiptext {
	visibility: visible;
	opacity: 1;
}