.header {
  display: flex;
  justify-content: space-between;
  border-bottom: inset 5px black;
  /* position: absolute; */
}

.header > .icon {
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 15px;
}

.header > .face {
    padding: 10px;
    border-radius: 10px;
    margin: 15px;

}

.navbar-brand {
    text-decoration: underline;
}

.navber {
    /* 親要素として位置を固定 */
    position: relative;
}
.navbar-header {
    position: absolute;
    top: 7px;
    left: 70px;
}

.card {
    position: absolute;
    top: 150px;
    left: 70px;
    width: 85%;
}

.require_mark {
    color: red;
    font-size: 11px;
}