<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/styleIndex.css" />
  <link rel="stylesheet" href="/css/styleNew.css" />
  <title>論文情報変更</title>
</head>
<body>
  <header>
    <div class="header">
      <div class="icon">
        <span>アイコン</span>
      </div>
      <div>
        <img  class="face" th:src="@{/images/figure.jpg}">
      </div>
    </div>
  </header>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/{id}(id=*{id})}">詳細画面に戻る</a>
      </div>
    </div>
    </nav>
  <div class="container">
    <div class="card card-primary mb-3">
        <div class="card-header">
          <h5 class="card-title">論文編集</h5>
        </div>
      <div class="card-body">
        <form th:action="@{/{id}(id=*{id})}" th:method="put" th:object="${bibpaper}">
              <div class="form-group row">
                  <label class="col-md-2 control-label">カテゴリ名</label>
                  <div class="col-md-10">
                    <select class="selectpicker" type="text" name="category" th:value="*{category}">
                      <option value="1">社会ネットワーク</option>
                      <option value="2">自律分散制御</option>
                      <option value="99">その他</option>
                    </select>
                    <div class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 control-label">タイトル<span class="require_mark">必須</span></label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" th:field="*{title}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 control-label">著者</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" th:field="*{authors}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 control-label">アブストラクト</label>
                  <div class="col-md-10">
                    <!--<input class="form-control" type="text" th:field="*{abst}" />-->
                    <textarea class="form-control form-abst" type="text" th:field="*{abst}"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('abst')}" th:errors="*{abst}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 control-label">要約・感想<span class="require_mark">必須</span></label>
                  <div class="col-md-10">
                    <!--<input class="form-control" type="text" th:field="*{descript}" />-->
                    <textarea class="form-control form-descript" type="text" th:field="*{descript}"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('descript')}" th:errors="*{descript}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 control-label">ハッシュタグ</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" th:field="*{hash_tag}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('hash_tag')}" th:errors="*{hash_tag}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 control-label">ハイパーリンク<span class="require_mark">必須</span></label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" th:field="*{hyperlink}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('hyperlink')}" th:errors="*{hyperlink}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 control-label">bibtex</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" th:field="*{bibtex_source}" />
                    <button type="button" class="btn btn-success btn-bibtex">BibTeXで追加</button>
                    <div class="text-danger" th:if="${#fields.hasErrors('bibtex_source')}" th:errors="*{bibtex_source}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 control-label">bibitem</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" th:field="*{bibitem_source}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('bibitem_source')}" th:errors="*{bibitem_source}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-2 control-label">備考</label>
                  <div class="col-md-10">
                    <!--<input class="form-control" type="text" th:field="*{remark}" />-->
                    <textarea class="form-control form-remark" type="text" th:field="*{remark}"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}"></div>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="offset-md-2 col-md-9 new_btn">
                    <button class="btn btn-primary">更新</button>
                  </div>
                </div>
            </div>
          </form>
    </div>
  </div>
  <script src="/js/jquery-3.4.1.min"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>