<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <title>トップページ</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">論文表示デモ</a>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="card card-primary mb-3">
      <div class="card-header">
        <table>
          <h5>
            <tr>
                <form>
                  <input type="search" name="search" placeholder="キーワードを入力">
                  <input type="submit" name="submit" value="検索">
                </form>
                <select name="sort">
                  <option value="new">新着順</option>
                  <option value="old">古い順</option>
                </select>
                <a href="/bibpaper/new" class="btn btn-success float-right">登録</a>
            </tr>
          </h5>
        </table>
      </div>
        <div class="card-body" th:if="!${bibpapers.size()}">
          <p>論文データがありません。</p>
        </div>
        <table class="table table-striped" th:if="${bibpapers.size()}">
          <thead>
              <tr>
                <th style="width: 10%">id</th>
                <th style="width: 50%">タイトル</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="bibpaper:${bibpapers}" th:object="${bibpaper}">
                <td th:text="*{id}"></td>
                <td th:text="*{title}"></td>
                <td class="float-right">
                  <form th:action="@{/bibpapers/{id}(id=*{id})}" th:method="delete">
                    <a class="btn btn-primary" th:href="@{/bibpapers/{id}(id=*{id})}">詳細</a>
                  </form>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
  </div>
  <script src="/js/jquery-3.4.1.min"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>