<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <title>論文新規</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">論文管理デモ</a>
      </div>
    </div>
    </nav>
  <div class="container">
    <div class="card card-primary mb-3">
          <div class="card-header">
            <h5 class="card-title">論文新規</h5>
          </div>
        <div class="card-body">
              <form th:method="post" th:action="@{/}" th:object="${bibpaper}">
                <div class="form-group row">
                    <label class="col-md-2 control-label">カテゴリ</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" name="category" th:value="*{category}" />
                      <div class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 control-label">タイトル</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" name="title" th:value="*{title}"/>
                      <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 control-label">著者</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" name="authors" th:value="*{authors}" />
                      <div class="text-danger" th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}"></div>
                    </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 control-label">アブストラクト</label>
                  <div class="col-md-10">
                    <textarea class="form-control" type="text" name="abstract" th:value="*{abstract}"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('abstract')}" th:errors="*{abstract}"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 control-label">概要</label>
                  <div class="col-md-10">
                    <textarea class="form-control" type="text" name="descript" th:value="*{descript}"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('descript')}" th:errors="*{descript}"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 control-label">ハッシュタグ</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" name="hash_tag" th:value="*{hash_tag}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('hash_tag')}" th:errors="*{hash_tag}"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 control-label">ハイパーリンク </label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" name="hyperlink" th:value="*{hyperlink}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('hyperlink')}" th:errors="*{hyperlink}"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 control-label">bibtex</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" name="bibtex_source" th:value="*{bibtex_source}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('bibtex_source')}" th:errors="*{bibtex_source}"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 control-label">bibitem</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" name="bibitem_source" th:value="*{bibitem_source}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('bibitem_source')}" th:errors="*{bibitem_source}"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 control-label">備考</label>
                  <div class="col-md-10">
                    <textarea class="form-control" type="text" name="remark" th:value="*{remark}"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}"></div>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                      <button class="btn btn-primary">新規</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
    <script src="/js/jquery-3.4.1.min"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>