<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/styleLogin.css">
<title>パスワード再設定</title>
</head>
<body>


<form th:action="@{/Reset}" th:object="${resetPasswordForm}" method="POST">

<table align="center">
    <tr>
        <td>
                メールアドレス：
        </td>
        <td>
               <input type="email" th:field="*{email}" required>
        </td>
    </tr>
    <tr>
        <td>
                パスワード：
        </td>
        <td>
               <input type="password" th:field="*{newPassword}" required>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td align="right">
            <button type="submit">パスワード再設定</button>
        </td>
    </tr>

</table>
</form>

</body>
</html>